---

---

<div class="flex justify-center gap-4">
  <a href="tel:+13178453073" class="bg-secondary text-white px-6 py-3 rounded-md hover:bg-primary transition-colors">Call to Book</a>
  <a href="https://na0.meevo.com/CustomerPortal/login?tenantId=103761&locationId=106841" target="_blank" class="bg-secondary text-white px-6 py-3 rounded-md hover:bg-primary transition-colors">Book Online</a>
  <a href="/contact" class="bg-secondary text-white px-6 py-3 rounded-md hover:bg-primary transition-colors">Contact us</a>
</div>

<style>
    .flex {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: auto;
    }

    a {
        border-radius: 25px;
        background-color: #333333;
        color: #e7d7c9;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: 'Brush Script MT', 'Pacifico', 'Comic Sans MS';
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        padding: 8px;
    }

</style>