<button class="home-button">
    <a href={Astro.url.pathname === '/' ? '#' : '/'}>
        <i class="fa-solid fa-home"></i>
    </a>
</button>

<style>
  .home-button {
      position: absolute;
      top: 130px; /* Adjust if needed based on Header height */
      left: 16px;
      width: 50px;
      height: 50px;
      background-color: #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background 0.3s ease, transform 0.2s ease;
      border: none;
      cursor: pointer;
  }

  .home-button a {
      text-decoration: none;
  }

  .home-button i {
      color: #e7d7c9;
      font-size: 20px;
  }

  .home-button:hover {
      background-color: #555555;
      transform: scale(1.1);
  }
</style>
