<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BeautySalon",
  "name": "Glow Salon & Spa",
  "image": "/glow-salon-logo.webp",
  "@id": "",
  "url": "https://www.glowsalonwestclay.com",
  "telephone": "317-846-3073",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1928 Rhettsbury St",
    "addressLocality": "Carmel",
    "addressRegion": "IN",
    "postalCode": "46032",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 39.924550,
    "longitude": -86.183260
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "10:00",
      "closes": "18:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "09:00",
      "closes": "16:00"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/GlowSalonWestClay/",
    "https://www.instagram.com/glowsalonwestclay/"
  ]
}
</script>

<footer class="footer">
  <div class="footer-left">
    <p class="contact-info"><a href="tel:3178463073">317-846-3073</a></p>
    <p class="contact-info">1928 Rhettsbury St Carmel, IN 46032</p>
  </div>
  <div class="social-icons">
    <a href="/contact" aria-label="Contact">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.facebook.com/GlowSalonWestClay/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/glowsalonwestclay/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</footer>

<style>
  .footer {
    background-color: #333333;
    font-family: serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    margin: 0;
    font-size: 16px;
    max-width: 70%;
    color: #EDE9E3;
    font-family: 'Brush Script MT', 'Pacifico', 'Comic Sans MS';
    font-size: 14px;
  }

  .contact-info a {
    color: #EDE9E3;
    text-decoration: none;
  }

  .social-icons {
    display: flex;
    gap: 20px;
  }

  .social-icons a {
    color: #EDE9E3;
    font-size: 24px;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .contact-info {
      font-size: 12px;
    }
  }

  
</style>
