<footer class="footer">
  <div class="footer-left">
    <p class="contact-info"><a href="tel:3178463073">317-846-3073</a></p>
    <p class="contact-info">1928 Rhettsbury St Carmel, IN 46032</p>
  </div>
  <div class="social-icons">
    <a href="/contact" aria-label="Contact">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://www.facebook.com/GlowSalonindy/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/glowsalonindy/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</footer>

<style>
  .footer {
    background-color: #333333;
    font-family: serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    margin: 0;
    font-size: 16px;
    max-width: 70%;
    color: #EDE9E3;
    font-family: 'Brush Script MT', cursive;
    font-size: 14px;
  }

  .contact-info a {
    color: #EDE9E3;
    text-decoration: none;
  }

  .social-icons {
    display: flex;
    gap: 20px;
  }

  .social-icons a {
    color: #EDE9E3;
    font-size: 24px;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .contact-info {
      font-size: 12px;
    }
  }

  
</style>
