<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Salon and Spa</title>
    <style>
        header {
            background-color: #333333;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #FCEFE3;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    <header>
        <h1>Glow Salon and Spa</h1>
    </header>

</body>
</html>