<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Glow Salon & Spa Logo.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta name="generator" content={Astro.generator} />
		<title>Glow Salon & Spa | Beauty Salon in Carmel, IN</title>
  		<meta name="description" content="Glow Salon & Spa offers expert hair, nail, waxing, and makeup services in Carmel, Indiana. Book your appointment today!">
  		<meta name="keywords" content="Salon, Spa, Hair Salon, Aveda, Nails, Waxing, Makeup, Carmel Indiana, Best Salon in Carmel, Village of West Clay">
  		<meta name="author" content="Glow Salon & Spa">
  		<meta name="robots" content="index, follow">
  		<meta property="og:title" content="Glow Salon & Spa | Luxury Beauty Services in Carmel, IN">
  		<meta property="og:description" content="Experience luxury hair, nail, waxing, and makeup services at Glow Salon & Spa in Carmel, IN.">
  		<!-- <meta property="og:image" content="/path-to-your-logo-or-image.jpg"> -->
  		<meta property="og:url" content="https://www.glowsalonwindy.com">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
